body , main{
    display: flex;
    background: #ececec;
}
body{
    flex-direction: column;
}
main{
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
    background: #9fd3c7;
}
aside{
    flex: 1;
    overflow-y: auto;
    background: #385170;
}
